<img src="/portfolio/drea/Drea13.jpg" />
<h2><centerAndre Allen</center></h2>
<h3> Hello and good day(: My name is Andrea.</h3>
<h4> I am an after-school enrichment instructor with Denver Public School. I have 500 hours of experience with kids in Colorado. I graduated from the Univeristy of North Texas with a BFA in Dance. Go Eagles! I helped start the North Texas Emeralds Dance Society. Also at UNT I was on the honors society, represented my school at the ACDA dance conference and made the Deans List.</h4>
<h5>You can find more on my resume <a href="/andrea.allen.resume.pdf">here</a></h5>
